<!DOCTYPE html>
<html>
<h2 style="text-align:center;">You Are Almost There</h2>
<h3 style="text-align:center;">Create Account</h3>

<form action='/signup'  style="text-align:center;" method='post'>
    <p><label for="username">Username: </label><br>
    <input type="text" name="username"  placeholder="Enter User Name"><br><br>

    <label for="email">Email Address: </label><br>
    <input type="email" name="email" placeholder="Enter Email"><br><br>

    <label for="password">Password: </label><br>
    <input type="password" name="password" placeholder="Enter password" ><br><br>
    <input type="submit" alt="Sign In" value="CREATE ACCOUNT"></p>
</form>
</html>