<!DOCTYPE html>
<html>
<h2>let the ranting begin</h2>
<p>Type anything you want, the sky is the limit</p>

<form action='/posts' method='post'>
<label for="content">Content</label> <br>
<textarea placeholder="type whatever" id="comment" name="content" cols="70" rows="8" ></textarea>
<br>
<input type='submit' value="submit">

</form>
<br>
<br>


<a href="/user_page">GO BACK</a>

</html>