<div class="container">
  <header><img src="https://assets.entrepreneur.com/content/3x2/2000/20160301181643-man-screaming-letters-flying-shouting-ranting-yelling-mouth-verbal.jpeg?width=700&crop=2:1" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>welcome to daily ranting</h2>

    <div class="content">
      <p> Welcome to "Daily Ranting" , a special place where you can talk whatever you feel like or not feel like.
      You can post whatever you want as long as you keep it user friendly and pg-13. Before we can start using this
incredible website, you need to first login or make an account ~which you can do on the right ~>
      </p>
    </div>

    <div class="sidebar" style="color:red">
      <h3>It all started here </h3>
      <ul>
      <a href="/login" style="color:blue">Log in</a> or <a href="/signup" style="color:blue">Create Account</a>

      </ul>
    </div>

  </div>
</div>
